// Specific CSS for your home-page
body {
  font-family: "Georgia", "Arial", sans-sherif;
}

.col-md-3{
  padding: 0;
}

.navebar{
  min-height: 38px;
  margin-bottom: 20px !important;
  border-radius: 0;

}

.navbar .navbar-brand{
  padding: 10px 12px;
  font-size: 30px;
  line-height: 16px;
  height: 38px;

}

.navbar .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 38px;
  color: #fff;
}

.navbar .navbar-toggle{
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 8px 9px;
}

.navbar .navbar-form{
  margin-top: 2px;
  margin-bottom: 0px;
}

.navbar .navbar-collapse{
  border-color: #A40303;
}

h1, h2{
  border-left: 5px #666 solid;
  border-bottom: 1px #666 solid;
  padding: 0 0 5px 10px;
}

#gallery img{
  width: 100%;
}
.photo-img{
  -webkit-filter:
  grayscale(10%);
  filter:
  grayscale(10%);
}

.photo-hover{
    -webkit-filter:
  grayscale(10%);
  filter:
  grayscale(10%);

}
